/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
     height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 9, 9);   

}

/* Barra intermediária antes e depois do conteúdo */
.barra-intermediaria {
    background-color: black;
    height: 30px;
}

/* Corpo principal (main) */
.main-content {
    display: flex;
    justify-content: center;   /* Centraliza horizontalmente */
    align-items: center;       /* Centraliza verticalmente */
    flex: 1;
    padding: 20px;
}

/* Contêiner de Login */
.login-container {
    text-align: center;
    width: 100%;
    max-width: 400px;  /* Limita a largura máxima do formulário */
}

/* Título */
.login-container h2 {
    color: black;
    margin-bottom: 20px;
}

/* Botão de Login */
.login-btn {
    background-color: gray;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 50%; /* Faz o botão ocupar toda a largura do container */
    font-size: 20px;
    
}

.login-btn:hover {
    background-color: darkgray;
}

/* Footer */
footer {
    background-color: black;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
