<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Innovatech</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>          
<div>
<div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
</div>
<div class="barra-intermediaria"></div>

<main class="main-content">
    <div class="login-container">        
        <button class="login-btn">Login</button>
    </div>
</main>

<div class="barra-intermediaria"></div>

<footer><h5> uma aplicação de QRStock</h5></footer>

</body>
</html>
