<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Innovatech</title>
</head>
<body>
   
        
<h1>Innovatech - Estoque</h1>

<div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div><!-- barra de menu --></div>

<table>
    <tr>
        <th>Descrição</th>
        <th>Setor</th>
        <th>Prioridade</th>
        <th>Status</th>
        <th>Usuário</th>
        <th>Ações</th>
    </tr>
    <tr th:each="tarefa : ${tarefas}">
        <td th:text="${tarefa.descricao}">Descrição</td>
        <td th:text="${tarefa.setor}">Setor</td>
        <td th:text="${tarefa.prioridade}">Prioridade</td>
        <td th:text="${tarefa.status}">Status</td>
        <td th:text="${tarefa.usuario != null ? tarefa.usuario.nome : 'Usuário Não Definido'}">Usuário</td>
        <td>
            <!-- Link para editar a tarefa -->
            <a th:href="@{'/tarefas/editar/' + ${tarefa.id}}">Editar</a>
            <!-- Link para excluir a tarefa -->
            <a th:href="@{'/tarefas/excluir/' + ${tarefa.id}}">Excluir</a>
        </td>
    </tr>
</table>

<!-- Links para navegação -->
<a href="/tarefas/nova">Cadastrar Nova Tarefa</a>
<a href="/usuarios/novo">Cadastrar Novo Usuário</a>

<footer><h5> uma aplicação de QRStock</h5></footer>

</body>
</html>
