<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Innovatech</title>
</head>
<body>
    <h1>Cadastrar Nova Tarefa</h1>

    <form th:action="@{/tarefas/salvar}" th:object="${tarefa}" method="post">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" th:field="*{descricao}" placeholder="Descrição da tarefa" required><br><br>

        <label for="setor">Setor:</label>
        <input type="text" id="setor" th:field="*{setor}" placeholder="Setor da tarefa" required><br><br>

        <label for="prioridade">Prioridade:</label>
        <select id="prioridade" th:field="*{prioridade}" required>
            <option value="BAIXA" th:text="#{prioridade.baixa}"></option>
            <option value="MEDIA" th:text="#{prioridade.media}"></option>
            <option value="ALTA" th:text="#{prioridade.alta}"></option>
        </select><br><br>

        <label for="status">Status:</label>
        <select id="status" th:field="*{status}" required>
            <option value="A_FAZER" th:text="#{status.aFazer}"></option>
            <option value="FAZENDO" th:text="#{status.fazendo}"></option>
            <option value="PRONTO" th:text="#{status.pronto}"></option>
        </select><br><br>

        <label for="usuario">Usuário:</label>
        <select id="usuario" th:field="*{usuario.id}" required>
            <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nome}"></option>
        </select><br><br>

        <button type="submit">Cadastrar Tarefa</button>
    </form>

    <a href="/">Voltar para a página inicial</a>
</body>
</html>
